
.bg{
    background-image: url('@/assets/activity_detail_bg.webp');
    background-size: 100% 100%;
    height: 100vh;width:100vw;
    overflow-y: hidden;
}
.container {
    height: 100vh;
    width: 100vw;

    position: fixed;
    overflow: scroll;

    .logo {
        position: relative;
        margin-top: 69px;
        margin-bottom: 34px;
        top: 20px;
        left: -20px;
        margin-left: 20px;
        width: 178px;
        height: 53px;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 20px;
        text-shadow: 0px 2px 0px rgba(250, 100, 238, 0.44);
        text-align: center;
    }
    .appBar{
        position: relative;
        width: 100%;
    }
    .info_list {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 12px 0 12px;
        border-radius: 20px;
        border: 2px solid #FFFFD7;
        background-color: white;
        padding: 14px;
        padding-bottom: 60px;
        .header {
            width: 254px;
            height: 46px;
            background-image: url("@/assets/activity_list_header.webp");
            background-size: 100% 100%;
            font-weight: 600;
            font-size: 15px;
            color: #FFFFFF;
            text-align: center;
            line-height: 40px;
        }

        .title {
            margin-top: 14px;
            font-weight: 500;
            font-size: 14px;
            color: #170423;
        }

        .list_item {
            width: 100%;
            padding: 20px 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            >img {
                width: 40px;
                height: 40px;
            }


            .requirement {
                font-weight: 600;
                font-size: 16px;
                color: #170423;
            }

            .content {
                font-size: 13px;
                color: #4A444D;
            }



        }

        .join_button {
            margin-top: 36px;
            height: 62px;
            width: 100%;
            border-radius: 31px;

            background-size: 100% 100%;
            text-align: center;
            line-height: 62px;
            font-weight: 600;
            font-size: 17px;
            color: #FFFFFF;
        }

        .join_status_0 {
            background: linear-gradient(to right, #F29A34 0%, #E338F3 50%, #9325F2 100%);
        }

        .join_status_1 {
            background: linear-gradient(to right, #F29A347F 0%, #E338F37F 50%, #9325F27F 100%);
        }

        .join_status_2 {
            background-color: #BFBFBF;
        }

        .view_button {
            height: 62px;
            border-radius: 31px;
            font-weight: 600;
            font-size: 17px;
            color: #F051E9;
            line-height: 62px;
            margin-bottom: 50px;
        }
    }
}