.list > div {
  margin:15px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
  .avatar_container {
    width: 54px;
    height: 54px;
    display: inline-block;
  }
  .right_info_container {
   margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    .last_call {
      margin-left: 10px;
      font-size: 12px;
      font-weight: 400;
      color: #999999;
      line-height: 17px;
    }
  
  
  }
  .spacer{
    flex-grow: 1; 
  }
  .right_arror {
    width: 6px;
    height: 14px;
  }
}

